/*
[0]GENERAL
[1]NAVIGATION
[2]SECTION
[3]FOOTER
[4]MEDIA QUERIES
*/


/*[0]GENERAL*/
body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #89B993;
}



/*[1]NAVIGATION*/
nav{
	text-align: center;
	padding: 1% 0;
	font-family: 'Lobster', cursive;
	background-color: #FE926B;
	width: 100%;
}
.nav-li,
.avo-logo{
	display: inline-block;
}
.avo-logo{
	width: 20%;
}
.nav-li{
	width: 75%;
}
li{
	display: inline-block;
	padding: 1%;
}
nav a{
	font-size: 28px;
	text-decoration: none;
	color:#F8F2D2;
}
nav ul{
	text-align: right;
}

/*[2]SECTION */
section{
	margin-top: 0;
	padding: 1% 0 5% 0;
	color:#86AB73;
	font-family: 'Lobster', cursive;
	font-size: 34px;
	width:100%;
	background-color: #F8F2D2;
}
.left, .right{
	width: 49%;
	display: inline-block;
}
.right{
	margin-left:0;
	background-color: inherit;
}
.avo1{
	padding-top: 10%;
	padding-left: 15%;
}
.avo-tm{
	font-weight: bold;
}
button{
	color:#F8F2D2 ;
	width: 40%;
	border:none;
	padding: 3% 1%;
}
.btn1{
	background-color: #89B993;
	margin-right: 5%;
}
.btn2{
	background-color: #FE926B;
	margin-left: 5%;
}
input{
	height: 40px;
	opacity: 0.6;
	padding: 1% 1% 0 5%;
	border:none;
	box-shadow: 5px 5px #BEB9C1;
}
::placeholder{
	color:#BEB9C1;}
.search{
	float:right;
}
.fas{
	position: relative;
	padding: 2%;
	z-index: 1;
}
p{
	padding-top: 10%;
}
/*[3]FOOTER*/
footer{
	padding: 1% 0 0 0;
	font-size: 
	color: #F8F2D2;
	width: 100%;
	text-align: center;
	background-color: #89B993;
}
footer li{
	display: inline-block;
	list-style: none;
}
footer ul{
	margin-top: 0;
}
.fab{
	color: #f8f2d2;
}


/*MEDIA QUERIES*/
/*START POINT IS LAPTOP/DESKTOP SIZE*/
/*MEDIA QUERIES NEED TO BE ADDED EVERYTIME THAT THE CODE DOESNT LOOK GOOD ANYMORE*/
@media only screen and (max-width: 880px){
	nav a{
		font-size: 24px;
	}
@media only screen and (max-width: 730px){
	nav a{
		font-size: 22px;
	}
/*TABLET SIZE/POINT AT WHICH RESIZING IS NEEDED*/
@media only screen and (max-width: 700px){
	.nav-li,
	.avo-logo{
		display: block;
	}
	.nav-li{
		width: 100%;
		padding: 0;
	}
	nav{
		margin: 0;
		padding: 0;
	}
	nav ul{
		margin: 0;
		padding: 0;
		text-align: center;
	}
	nav a {
		font-size: 18px;
	}
	.left, .right{
		width: 100%;
		margin: 0;
		padding: 0;
		margin: 0 auto;
		display: block;
	}
	.right{
		font-size: 20px;
		width: 90%;
		padding-bottom: 5%;
	}
	section{
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.avo-logo1{
		width: 80%;
	}
	.avo1{
		width: 200px;
		height: auto;
		padding: 0;
		padding-top: 5%;
		margin: 0;
	}
	.search{
		float: none;
	}
	.fas{
		display: none;
	}
	input{
		width: 90%;
	}
	::placeholder{
		font-size: 18px;
	}
	p{
		margin: 0;
		padding: 1%;
	}
}
@media only screen and (max-width: 400px){
	.btn1,
	.btn2{
		padding: 1%;
		font-size: 12px;
		margin: 0;
	}
}
@media only screen and (max-width: 560px){
	.avo-logo1{
		width: 100%;
	}
}
@media only screen and (max-width: 400px){
	.avo-logo1{
		display: none;
	}
	nav a{
		font-size: 16px;
	}
	nav ul{
		padding-top: 10%;
	}
}
/*MOBILE SIZE/ POINT AT WHICH RESIZING IS NEEDED*/
@media only screen and (max-width: 350px){
	body{
		margin: 0;
		padding: 0;
	}
	button{
		padding: 2%;
		display: block;
		width: 100%;
	}
	.btn1,
	.btn2{
		margin-bottom: 5%;
	}
}